*{
  margin: 0;
  padding: 0;
}
.home{
  width: 100%;
}
.togglePlayer{
  text-align: center;
}
.togglePlayerBtn{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.6rem;
  color: #ffffff;
  font-size: 1.6rem;
}
.x{
  background-color: #0000cc;
}
.o{
  background-color: #00aa00;
}
.container{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 330px);
  grid-template-rows: repeat(3, 330px);
  grid-gap: 30px;
}
.container-00{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-01{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-02{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-03{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-04{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-05{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-06{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-07{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.container-08{
  display: none;
  justify-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
}
.active{
  display: grid;
}
.errorMsg{
  margin: 0;
  padding: 1.25rem;
  color: #990000;
  text-align: center;
  font-size: 1.25rem;
}
.cell:hover{
  cursor: pointer;
}
.cell1{
  grid-area: 1 / 1 / 2 / 2;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell2{
  grid-area: 1 / 2 / 2 / 3;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell3{
  grid-area: 1 / 3 / 2 / 4;
  border-bottom: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell4{
  grid-area: 2 / 1 / 3 / 2;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell5{
  grid-area: 2 / 2 / 3 / 3;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell6{
  grid-area: 2 / 3 / 3 / 4;
  border-bottom: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell7{
  grid-area: 3 / 1 / 4 / 2;
  border-right: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell8{
  grid-area: 3 / 2 / 4 / 3;
  border-right: 1px solid #000000;
  justify-self: center;
  align-self: center;
}
.cell9{
  grid-area: 3 / 3 / 4 / 4;
  justify-self: center;
  align-self: center;
}
